body {
	background-color: #1A82A6;
	background-image: linear-gradient(-180deg, #1A82A6, #27AF7B);
	height: 100vh;
}
.title {
	color: white;
	font-size: 50px;
	margin-top: 200px;
	text-align: center;
}
.calc {
	background-color: black; 
	border-radius: 5px;
	border-radius: 5px;
	margin: 0 auto;
	padding: 0 0 20px;
	width: 300px;
}
.screen-result {
	background-color: #908E8E;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	color: white;
	font-size: 30px;
	padding:  8px 27px;
	text-align: right;
} 
.row {
	width: 100%;
	overflow: hidden;
}
.col, .col-2 {
	display: block;
	float: left;
	padding: 10px;
	margin-bottom: 2px;
	text-align: center
}
.col {
	width: 55px;
}
.col-2 {
	width: 130px;
}
.btn {
	border-radius: 50%;
	border: none;
	font-size: 18px;
	width: 40px;
	height: 40px;
	transition: 0.3s;
}
.btn-large {
	border-radius: 25px;
	text-align: left;
	padding-left: 16px;
	width: 121px;
}
.btn-default {
	background-color: #A5A5A5;
	color: #000;
}
.btn-operator {
	background-color: #FC9426;
	color: #fff;
}
.btn-number {
	background-color:  #323232;
	color: #fff;
}
.btn:hover {
	cursor: pointer;
}
.btn-default:hover { 
	background-color: #7b7878;
}
.btn-operator:hover { 
	background-color: #c36e14;
}
.btn-number:hover {
	background-color: #272727;
 }